[Unit]
Description=ObiOra Panel Agent
After=network.target

[Service]
Type=simple
User=obiora
Group=obiora
ExecStartPre=/bin/chmod +x /opt/obiora-panel/agent/bin/obiOra-agent
ExecStart=/opt/obiora-panel/agent/bin/obiOra-agent
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
